
{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<p>
  <i class="fas fa-arrow-right"></i> Unicorn-cycler. <i class="fas fa-arrow-left"></i>
</p>
<figure><img class="contenu"></figure>
{% endblock %}

