
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

.contenu{
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: solid; 
}